<div class="post">
  <div class="header">
    <h1>Post Title</h1>
    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>
  <div class="info">
    <strong>Автор</strong>
    <small>12.09.2020</small>
  </div>
  <div>
    <p>Lorem ipsom dolor sit amet, consec,jhgjkhgxfkgl;dfgkl gdfghx fgh xd</p>
    <p>Lorem ipsom dolor sit amet, consec,jhgjkhgxfkgl;dfgkl gdfghx fgh xd</p>
    <p>Lorem ipsom dolor sit amet, consec,jhgjkhgxfkgl;dfgkl gdfghx fgh xd</p>
    <p>Lorem ipsom dolor sit amet, consec,jhgjkhgxfkgl;dfgkl gdfghx fgh xd</p>
  </div>
</div>


