<div class="card">
  <div class="card-header">
    <h2>Post Title</h2>
    <small>12.09.2020</small>
  </div>

  <div>
    <small>Nina</small>
  </div>
    <button
      [routerLink]="['/post', 1234]"
      class="btn btn-dark"
    >Открыть</button>

</div>
