<form class="card">
  <h2>Войти в панель администратора</h2>

  <div class="form-control">
    <label for="email">Email:</label>
    <input id="email" type="email">
    <div class="validation">
      <small>Ошибка</small>
    </div>
  </div>

  <div class="form-control">
    <label for="password">Пароль:</label>
    <input id="password" type="password">
    <div class="validation">
      <small>Ошибка</small>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Войти</button>
</form>
